In [6]:
import pandas as pd
import numpy as np

gapminder_tidy_df = pd.read_csv('data/gapminder_tidy.csv')
gapminder_graphs_df = pd.read_csv('data/gapminder_data_graphs.csv')
world_population_df = pd.read_csv('data/world_population.csv')

In [2]:
gapminder.describe()

,Year,fertility,life,population,child_mortality,gdp,gdp-1
count,10111.000000,10100.000000,10111.000000,1.010800e+04,9210.000000,9000.000000,8999.000000
mean,1988.514588,4.028719,64.078600,2.560448e+07,80.834505,12746.916667,12748.201800
std,14.430849,2.013968,11.122779,1.032383e+08,79.220942,17797.809953,17798.381302
min,1964.000000,0.836000,6.000000,1.170000e+03,2.000000,142.000000,142.000000
25%,1976.000000,2.175750,56.282500,8.874062e+05,18.900000,2263.000000,2264.500000
50%,1989.000000,3.632500,67.157000,4.765781e+06,50.700000,6438.500000,6440.000000
75%,2001.000000,5.905250,72.484000,1.476995e+07,121.775000,15887.250000,15887.500000
max,2013.000000,9.223000,83.580000,1.359368e+09,435.800000,182668.000000,182668.000000

In [11]:
gapminder_graphs_df.head()

,Country,continent,Year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6

In [12]:
gapminder_tidy_df.head()

,Country,Year,fertility,life,population,child_mortality,gdp,gdp-1,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,1168.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,1173.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,1187.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,1178.0,South Asia

In [10]:
# Merge gapminder_tidy_df and gapminder_graphs_df on 'Country' and 'Year' to get continent information
gapminder_graphs_df.head()
gapminder_tidy_df.head()

gapminder_graphs_df.rename(columns={'country': 'Country', 'year': 'Year'}, inplace=True)

# Merging the two gapminder dataframes

# Now merge the resulting dataframe with world_population_df on 'Country' and 'Year'
world_population_df.rename(columns={'Country': 'Country', 'Year': 'Year'}, inplace=True)

# Merging to get the final dataset
final_dataset = pd.merge(merged_gapminder_df, world_population_df[['Country', 'Year', 'Population']], on=['Country', 'Year'], how='left')

# Display the first few rows of the final merged dataframe
final_dataset

,Country,Year,fertility,life,population,child_mortality,gdp,gdp-1,region,continent,Population
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,1182.0,South Asia,NaN,NaN
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,1168.0,South Asia,NaN,9956320.0
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,1173.0,South Asia,NaN,NaN
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,1187.0,South Asia,NaN,NaN
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,1178.0,South Asia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10106,Åland,2002,NaN,81.800,26257.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10107,Åland,2003,NaN,80.630,26347.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10108,Åland,2004,NaN,79.880,26530.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10109,Åland,2005,NaN,80.000,26766.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10110,Åland,2006,NaN,80.100,26923.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN

In [14]:
import pandas as pd

# Reload the provided CSV file since the previous code execution state was reset
country_continent_df = pd.read_csv('data/gapminder/distinct_countries_with_continent.csv')

# Selecting only the 'country' and 'continent' columns
selected_df = country_continent_df[['country', 'continent']]

# Removing duplicate rows to get all distinct rows
distinct_rows_df = selected_df.drop_duplicates()

# Save the distinct rows to a new CSV file
output_file_path = 'data/gapminder/country_continent.csv'
distinct_rows_df.to_csv(output_file_path, index=False)

output_file_path

'data/gapminder/country_continent.csv'

In [21]:
import pandas as pd

# Load the datasets
countries_df = pd.read_csv('data/gapminder/country_continent.csv')
gdp_df = pd.read_csv('data/gapminder/gdp_pcap.csv')
hdi_df = pd.read_csv('data/gapminder/hdi_human_development_index.csv')
life_expectancy_df = pd.read_csv('data/gapminder/lex.csv')
population_df = pd.read_csv('data/gapminder/pop.csv')

# Reshaping the GDP, HDI, Life Expectancy, and Population dataframes to have a 'year' column
gdp_long_df = gdp_df.melt(id_vars=['country'], var_name='year', value_name='gdp')
hdi_long_df = hdi_df.melt(id_vars=['country'], var_name='year', value_name='hdi')
life_expectancy_long_df = life_expectancy_df.melt(id_vars=['country'], var_name='year', value_name='life_expectancy')
population_long_df = population_df.melt(id_vars=['country'], var_name='year', value_name='population')

# Converting 'year' column to integer for proper merging
gdp_long_df['year'] = gdp_long_df['year'].astype(int)
hdi_long_df['year'] = hdi_long_df['year'].astype(int)
life_expectancy_long_df['year'] = life_expectancy_long_df['year'].astype(int)
population_long_df['year'] = population_long_df['year'].astype(int)

# Merging the datasets
merged_df = countries_df.merge(life_expectancy_long_df, on='country', how='left')
merged_df = merged_df.merge(population_long_df, on=['country', 'year'], how='left')
merged_df = merged_df.merge(gdp_long_df, on=['country', 'year'], how='left')
merged_df = merged_df.merge(hdi_long_df, on=['country', 'year'], how='left')

# Reordering columns to match the required format
merged_df = merged_df[['country', 'continent', 'year', 'life_expectancy', 'population', 'gdp', 'hdi']]
merged_df = merged_df[merged_df['year'] <= 2023]

# Save the final dataset to a CSV file
merged_df.to_csv('data/gapminder/merged_dataset.csv', index=False)

merged_df.head()

merged_df = pd.read_csv('data/gapminder/merged_dataset.csv')

def convert_value(value):
    """
    Converts a population value from string format with suffixes (k, M, B) to an integer.
    For example: '30k' -> 30000, '2.01M' -> 2010000, '3.4B' -> 3400000000
    """
    if pd.isnull(value):
        return None
    if value[-1] == 'k':
        return int(float(value[:-1]) * 1e3)
    elif value[-1] == 'M':
        return int(float(value[:-1]) * 1e6)
    elif value[-1] == 'B':
        return int(float(value[:-1]) * 1e9)
    else:
        return int(value)

# Apply the conversion to the 'population' column
merged_df['population'] = merged_df['population'].apply(convert_value)
merged_df['gdp'] = merged_df['gdp'].apply(convert_value)

# Save the updated dataset to a new CSV file
updated_csv_path = 'data/gapminder/merged_dataset.csv'
merged_df.to_csv(updated_csv_path, index=False)

merged_df.head()

       country continent  year  life_expectancy  population  gdp  hdi
0  Afghanistan      Asia  1800             28.2     3280000  599  NaN
1  Afghanistan      Asia  1801             28.2     3280000  599  NaN
2  Afghanistan      Asia  1802             28.2     3280000  599  NaN
3  Afghanistan      Asia  1803             28.2     3280000  599  NaN
4  Afghanistan      Asia  1804             28.2     3280000  599  NaN

In [ ]:
[Log] Array (180) (script.js, line 341)
0 ["Angola", 37.000000023401824] (2)
1 ["Benin", 45.45000003082192] (2)
2 ["Botswana", 54.56000003253425] (2)
3 ["Burkina Faso", 41.48000001940639] (2)
4 ["Burundi", 43.78000000742009] (2)
5 ["Cameroon", 45.94000002511415] (2)
6 ["Cape Verde", 56.48000002283105] (2)
7 ["Chad", 44.61000002111872] (2)
8 ["Comoros", 47.720000027968034] (2)
9 ["Congo, Dem. Rep.", 43.83000001655251] (2)
10 ["Congo, Rep.", 54.420000033675805] (2)
11 ["Cote d'Ivoire", 46.99000006050228] (2)
12 ["Equatorial Guinea", 39.740000017694065] (2)
13 ["Eritrea", 43.30000002054795] (2)
14 ["Ethiopia", 42.93000001598173] (2)
15 ["Gabon", 46.690000046232875] (2)
16 ["Ghana", 48.89000002454338] (2)
17 ["Guinea", 39.16000001883561] (2)
18 ["Guinea-Bissau", 37.200000014840185] (2)
19 ["Kenya", 52.16000003310502] (2)
20 ["Lesotho", 49.020000015410965] (2)
21 ["Liberia", 44.4400000239726] (2)
22 ["Madagascar", 43.84000002283105] (2)
23 ["Malawi", 40.560000025684936] (2)
24 ["Mali", 37.51000001141553] (2)
25 ["Mauritania", 47.650000021118714] (2)
26 ["Mauritius", 62.200000016552515] (2)
27 ["Mayotte", 61.99000004109589] (2)
28 ["Mozambique", 39.23000002625571] (2)
29 ["Namibia", 52.560000030251146] (2)
30 ["Niger", 38.14000000513699] (2)
31 ["Nigeria", 40.37000002111872] (2)
32 ["Reunion", 62.400000041666665] (2)
33 ["Rwanda", 44.40000000513699] (2)
34 ["Sao Tome and Principe", 55.49000002340183] (2)
35 ["Senegal", 42.610000019977164] (2)
36 ["Sierra Leone", 35.97000002625571] (2)
37 ["Somalia", 40.05000002054794] (2)
38 ["South Africa", 52.820000019977165] (2)
39 ["Sudan", 46.39000001940639] (2)
40 ["Swaziland", 48.010000033675794] (2)
41 ["Tanzania", 46.69000002226028] (2)
42 ["Togo", 49.30000003139269] (2)
43 ["Uganda", 49.84000002853882] (2)
44 ["Zambia", 48.990000026826486] (2)
45 ["Zimbabwe", 54.86000001883562] (2)
46 ["Afghanistan", 35.030000024543384] (2)
47 ["Bangladesh", 44.03000001255708] (2)
48 ["Bhutan", 40.580000027397254] (2)
49 ["India", 48.820000037100456] (2)
50 ["Maldives", 49.870000036529675] (2)
51 ["Nepal", 42.630000029109596] (2)
52 ["Pakistan", 54.240000022260276] (2)
53 ["Sri Lanka", 62.5700000336758] (2)
54 ["Algeria", 52.930000036529684] (2)
55 ["Bahrain", 61.660000036529674] (2)
56 ["Djibouti", 43.24000002568493] (2)
57 ["Iraq", 57.98000002968036] (2)
58 ["Israel", 71.19000001027396] (2)
59 ["Jordan", 54.00000005707763] (2)
60 ["Kuwait", 66.38000003310502] (2)
61 ["Lebanon", 64.73000001655251] (2)
62 ["Libya", 51.330000031963465] (2)
63 ["Morocco", 51.560000028538816] (2)
64 ["Oman", 49.46000005936073] (2)
65 ["Qatar", 60.470000037671234] (2)
66 ["Saudi Arabia", 51.830000046803654] (2)
67 ["Tunisia", 53.690000041666664] (2)
68 ["United Arab Emirates", 60.52000003995435] (2)
69 ["West Bank and Gaza", 54.02000005650685] (2)
70 ["Yemen, Rep.", 38.22000003481735] (2)
71 ["Argentina", 66.61000001598174] (2)
72 ["Aruba", 69.16000002054794] (2)
73 ["Barbados", 68.52000002054794] (2)
74 ["Belize", 66.42000002739726] (2)
75 ["Bolivia", 45.770000021118726] (2)
76 ["Brazil", 58.57000002111872] (2)
77 ["Canada", 72.65000001883561] (2)
78 ["Chile", 62.02000003481736] (2)
79 ["Colombia", 60.87000001940639] (2)
80 ["Costa Rica", 66.83000002910958] (2)
81 ["Cuba", 69.88000002796802] (2)
82 ["Ecuador", 57.780000023972605] (2)
83 ["El Salvador", 56.58000001369863] (2)
84 ["French Guiana", 65.21000001426941] (2)
85 ["Grenada", 64.34000000513699] (2)
86 ["Guadeloupe", 66.72000002226028] (2)
87 ["Guatemala", 52.050000041095885] (2)
88 ["Guyana", 59.670000008561644] (2)
89 ["Haiti", 47.20000002054795] (2)
90 ["Honduras", 52.430000034817354] (2)
91 ["Jamaica", 68.3200000165525] (2)
92 ["Martinique", 67.93000002853883] (2)
93 ["Mexico", 61.350000026826486] (2)
94 ["Netherlands Antilles", 69.35000002340182] (2)
95 ["Nicaragua", 53.64000003710046] (2)
96 ["Panama", 65.35000002568492] (2)
97 ["Paraguay", 65.4300000097032] (2)
98 ["Peru", 53.46000004509133] (2)
99 ["Puerto Rico", 71.65000001255709] (2)
100 ["Suriname", 63.31000001712329] (2)
101 ["Trinidad and Tobago", 65.61000000627854] (2)
102 ["United States", 70.92000001826484] (2)
103 ["Uruguay", 68.6900000022831] (2)
104 ["Albania", 66.98000001541097] (2)
105 ["Armenia", 70.17000001541096] (2)
106 ["Austria", 70.11000001141554] (2)
107 ["Azerbaijan", 65.00000001426942] (2)
108 ["Belarus", 72.32000003652968] (2)
109 ["Belgium", 70.97000000742008] (2)
110 ["Bosnia and Herzegovina", 66.16000003082192] (2)
111 ["Bulgaria", 71.26999997716895] (2)
112 ["Croatia", 69.09000001312786] (2)
113 ["Cyprus", 70.77000001484018] (2)
114 ["Denmark", 73.38000000342466] (2)
115 ["Estonia", 70.39000001141552] (2)
116 ["Finland", 70.35999998972602] (2)
117 ["France", 72.15999999828767] (2)
118 ["Georgia", 67.44000001769406] (2)
119 ["Germany", 70.83000000399542] (2)
120 ["Greece", 71.68000001541097] (2)
121 ["Hungary", 69.23999999372145] (2)
122 ["Iceland", 73.8099999851598] (2)
123 ["Ireland", 70.89000004509133] (2)
124 ["Italy", 71.6600000142694] (2)
125 ["Kazakhstan", 62.40000001712329] (2)
126 ["Latvia", 70.22000001997718] (2)
127 ["Lithuania", 71.08000005365297] (2)
128 ["Luxembourg", 69.57999999372146] (2)
129 ["Macedonia, FYR", 66.35000002739726] (2)
130 ["Malta", 69.98000001426941] (2)
131 ["Moldova", 64.65000000570777] (2)
132 ["Montenegro", 69.00000003938355] (2)
133 ["Netherlands", 73.60000001369862] (2)
134 ["Norway", 74.08000000570776] (2)
135 ["Poland", 69.86999998858448] (2)
136 ["Portugal", 67.16999998687214] (2)
137 ["Romania", 68.00000002454338] (2)
138 ["Serbia", 67.87000002111873] (2)
139 ["Slovak Republic", 69.74000000799087] (2)
140 ["Slovenia", 69.42000000856164] (2)
141 ["Spain", 72.23999997773971] (2)
142 ["Sweden", 74.6999999954338] (2)
143 ["Switzerland", 73.14000000684932] (2)
144 ["Tajikistan", 60.16000001712329] (2)
145 ["Turkey", 55.66000003082191] (2)
146 ["Turkmenistan", 58.43000001712329] (2)
147 ["Ukraine", 70.87000001312785] (2)
148 ["United Kingdom", 72.00000001826484] (2)
149 ["Uzbekistan", 62.92000001712329] (2)
150 ["Australia", 70.81000003424657] (2)
151 ["Brunei", 66.6900000359589] (2)
152 ["Cambodia", 43.62999991666667] (2)
153 ["China", 62.65000006221461] (2)
154 ["Fiji", 59.630000023401834] (2)
155 ["French Polynesia", 60.11000001769406] (2)
156 ["Hong Kong, China", 71.0600000216895] (2)
157 ["Indonesia", 47.59000003767124] (2)
158 ["Japan", 72.07000004680364] (2)
159 ["Korea, Dem. Rep.", 61.9800000456621] (2)
160 ["Korea, Rep.", 59.16000003995433] (2)
161 ["Macao, China", 65.78000001655252] (2)
162 ["Malaysia", 61.30000003938356] (2)
163 ["Micronesia, Fed. Sts.", 61.63000002511416] (2)
164 ["Mongolia", 52.600000027397265] (2)
165 ["Myanmar", 51.46000004223744] (2)
166 ["New Caledonia", 60.51000001655251] (2)
167 ["New Zealand", 71.33000002568492] (2)
168 ["Papua New Guinea", 43.290000031963466] (2)
169 ["Philippines", 57.240000019406395] (2)
170 ["Samoa", 54.88000002853881] (2)
171 ["Singapore", 68.80000001769406] (2)
172 ["Solomon Islands", 54.240000030251146] (2)
173 ["Taiwan", 68.69000002340182] (2)
174 ["Thailand", 59.390000030821916] (2)
175 ["Timor-Leste", 39.53000000285388] (2)
176 ["Tokelau", 69] (2)
177 ["Tonga", 64.94000001826484] (2)
178 ["Vietnam", 48.820000033105025] (2)
179 ["Vanuatu", 52.500000034246575] (2)

Array Prototype