In [6]:
import pandas as pd
import numpy as np

gapminder_tidy_df = pd.read_csv('data/gapminder_tidy.csv')
gapminder_graphs_df = pd.read_csv('data/gapminder_data_graphs.csv')
world_population_df = pd.read_csv('data/world_population.csv')

In [2]:
gapminder.describe()

,Year,fertility,life,population,child_mortality,gdp,gdp-1
count,10111.000000,10100.000000,10111.000000,1.010800e+04,9210.000000,9000.000000,8999.000000
mean,1988.514588,4.028719,64.078600,2.560448e+07,80.834505,12746.916667,12748.201800
std,14.430849,2.013968,11.122779,1.032383e+08,79.220942,17797.809953,17798.381302
min,1964.000000,0.836000,6.000000,1.170000e+03,2.000000,142.000000,142.000000
25%,1976.000000,2.175750,56.282500,8.874062e+05,18.900000,2263.000000,2264.500000
50%,1989.000000,3.632500,67.157000,4.765781e+06,50.700000,6438.500000,6440.000000
75%,2001.000000,5.905250,72.484000,1.476995e+07,121.775000,15887.250000,15887.500000
max,2013.000000,9.223000,83.580000,1.359368e+09,435.800000,182668.000000,182668.000000

In [11]:
gapminder_graphs_df.head()

,Country,continent,Year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6

In [12]:
gapminder_tidy_df.head()

,Country,Year,fertility,life,population,child_mortality,gdp,gdp-1,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,1168.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,1173.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,1187.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,1178.0,South Asia

In [10]:
# Merge gapminder_tidy_df and gapminder_graphs_df on 'Country' and 'Year' to get continent information
gapminder_graphs_df.head()
gapminder_tidy_df.head()

gapminder_graphs_df.rename(columns={'country': 'Country', 'year': 'Year'}, inplace=True)

# Merging the two gapminder dataframes

# Now merge the resulting dataframe with world_population_df on 'Country' and 'Year'
world_population_df.rename(columns={'Country': 'Country', 'Year': 'Year'}, inplace=True)

# Merging to get the final dataset
final_dataset = pd.merge(merged_gapminder_df, world_population_df[['Country', 'Year', 'Population']], on=['Country', 'Year'], how='left')

# Display the first few rows of the final merged dataframe
final_dataset

,Country,Year,fertility,life,population,child_mortality,gdp,gdp-1,region,continent,Population
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,1182.0,South Asia,NaN,NaN
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,1168.0,South Asia,NaN,9956320.0
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,1173.0,South Asia,NaN,NaN
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,1187.0,South Asia,NaN,NaN
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,1178.0,South Asia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10106,Åland,2002,NaN,81.800,26257.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10107,Åland,2003,NaN,80.630,26347.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10108,Åland,2004,NaN,79.880,26530.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10109,Åland,2005,NaN,80.000,26766.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN
10110,Åland,2006,NaN,80.100,26923.0,NaN,NaN,NaN,Europe & Central Asia,NaN,NaN

In [14]:
import pandas as pd

# Reload the provided CSV file since the previous code execution state was reset
country_continent_df = pd.read_csv('data/gapminder/distinct_countries_with_continent.csv')

# Selecting only the 'country' and 'continent' columns
selected_df = country_continent_df[['country', 'continent']]

# Removing duplicate rows to get all distinct rows
distinct_rows_df = selected_df.drop_duplicates()

# Save the distinct rows to a new CSV file
output_file_path = 'data/gapminder/country_continent.csv'
distinct_rows_df.to_csv(output_file_path, index=False)

output_file_path

'data/gapminder/country_continent.csv'

In [21]:
import pandas as pd

# Load the datasets
countries_df = pd.read_csv('data/gapminder/country_continent.csv')
gdp_df = pd.read_csv('data/gapminder/gdp_pcap.csv')
hdi_df = pd.read_csv('data/gapminder/hdi_human_development_index.csv')
life_expectancy_df = pd.read_csv('data/gapminder/lex.csv')
population_df = pd.read_csv('data/gapminder/pop.csv')

# Reshaping the GDP, HDI, Life Expectancy, and Population dataframes to have a 'year' column
gdp_long_df = gdp_df.melt(id_vars=['country'], var_name='year', value_name='gdp')
hdi_long_df = hdi_df.melt(id_vars=['country'], var_name='year', value_name='hdi')
life_expectancy_long_df = life_expectancy_df.melt(id_vars=['country'], var_name='year', value_name='life_expectancy')
population_long_df = population_df.melt(id_vars=['country'], var_name='year', value_name='population')

# Converting 'year' column to integer for proper merging
gdp_long_df['year'] = gdp_long_df['year'].astype(int)
hdi_long_df['year'] = hdi_long_df['year'].astype(int)
life_expectancy_long_df['year'] = life_expectancy_long_df['year'].astype(int)
population_long_df['year'] = population_long_df['year'].astype(int)

# Merging the datasets
merged_df = countries_df.merge(life_expectancy_long_df, on='country', how='left')
merged_df = merged_df.merge(population_long_df, on=['country', 'year'], how='left')
merged_df = merged_df.merge(gdp_long_df, on=['country', 'year'], how='left')
merged_df = merged_df.merge(hdi_long_df, on=['country', 'year'], how='left')

# Reordering columns to match the required format
merged_df = merged_df[['country', 'continent', 'year', 'life_expectancy', 'population', 'gdp', 'hdi']]
merged_df = merged_df[merged_df['year'] <= 2023]

# Save the final dataset to a CSV file
merged_df.to_csv('data/gapminder/merged_dataset.csv', index=False)

merged_df.head()

merged_df = pd.read_csv('data/gapminder/merged_dataset.csv')

def convert_value(value):
    """
    Converts a population value from string format with suffixes (k, M, B) to an integer.
    For example: '30k' -> 30000, '2.01M' -> 2010000, '3.4B' -> 3400000000
    """
    if pd.isnull(value):
        return None
    if value[-1] == 'k':
        return int(float(value[:-1]) * 1e3)
    elif value[-1] == 'M':
        return int(float(value[:-1]) * 1e6)
    elif value[-1] == 'B':
        return int(float(value[:-1]) * 1e9)
    else:
        return int(value)

# Apply the conversion to the 'population' column
merged_df['population'] = merged_df['population'].apply(convert_value)
merged_df['gdp'] = merged_df['gdp'].apply(convert_value)

# Save the updated dataset to a new CSV file
updated_csv_path = 'data/gapminder/merged_dataset.csv'
merged_df.to_csv(updated_csv_path, index=False)

merged_df.head()

       country continent  year  life_expectancy  population  gdp  hdi
0  Afghanistan      Asia  1800             28.2     3280000  599  NaN
1  Afghanistan      Asia  1801             28.2     3280000  599  NaN
2  Afghanistan      Asia  1802             28.2     3280000  599  NaN
3  Afghanistan      Asia  1803             28.2     3280000  599  NaN
4  Afghanistan      Asia  1804             28.2     3280000  599  NaN